django_web_app_creation_instructions
Original/django_web_app_creation_instructions
Original/
Latest/ewas/create_web_app_instructions
Latest/ewas/docker-compose.yml
Latest/ewas/catalog/mysql.txt
Latest/ewas/ewas/settings.py
Latest/ewas_input/create_web_app_instructions
Latest/ewas_input/catalog/mysql.txt
Latest/ewas_input/ewas/settings.py